<div class="content" role="main">
  <div class="registration-form">
    <header class="mb-2"><h2 class="card-title text-center">Sign up</h2></header>
    <form>
      <div class="form-row">
        <div class="col form-group">
          <label>First name</label>
          <input type="text" class="form-control" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}"
                 required="required">
        </div>
        <div class="col form-group">
          <label>Last name</label>
          <input type="text" class="form-control" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" maxlength="127" minlength="1" [(ngModel)]="user.userName"
               [ngModelOptions]="{standalone: true}"
               required="required" appCredentials>
      </div>
      <div class="form-group">
        <label>Initial Balance</label>
        <input type="number" min=0 class="form-control" aria-label="Amount (to the nearest dollar)"
               [(ngModel)]="user.balance" [ngModelOptions]="{standalone: true}" appCurrency>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Create password</label>
          <input class="form-control" type="password" maxlength="127" minlength="1" [(ngModel)]="user.password"
                 [ngModelOptions]="{standalone: true}"
                 required="required" appCredentials>
        </div>
        <div class="form-group col-md-6">
          <label>Re-enter password</label>
          <input class="form-control" type="password" maxlength="127" minlength="1" required="required"
                 [(ngModel)]="password"
                 [ngModelOptions]="{standalone: true}" appCredentials>
        </div>
      </div>
      <div class="form-group">
        <label>Security Question: Which is favorite vegetable?</label>
        <label><i>Note: This answer will be used while resetting the password!!</i></label>
        <input type="text" class="form-control" [(ngModel)]="user.securityAns" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click)="registerUser()">Register</button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary btn-block" (click)="login()">Already Registered? Login
          Here
        </button>
      </div>
    </form>
  </div>
</div>
