.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3d3d5c;
  color: white;
  font-weight: 600;
}

.spacer {
  flex: 1;
}

.logoutLink:hover h5 {
  color: #33AEFF;
}

.logoutLink h5 {
  color: #f7f7f7;
}

.logoutLink:hover svg {
  fill: #33AEFF;
}

.logoutLink svg {
  fill: white;
}

#account-logo, #bank-logo {
  fill: white;
}

#account-logo:hover, #bank-logo:hover {
  fill: #33AEFF;
}
