<topbar [userInfo]="user"></topbar>
<div class="content-box">
  <div>
    <div class="text-center">
      <span>ESTIMATED BALANCE: </span>
    </div>
    <h2 class="text-center">{{user.balance + depositAmount | currency :"USD$" }}</h2>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <input type="number" min=0 class="form-control" aria-label="Amount (to the nearest dollar)"
           [(ngModel)]="depositAmount" appCurrency>
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button" (click)="deposit()">DEPOSIT</button>
    </div>
  </div>
  <button type="button" class="btn btn-dark btn-block btn-lg" (click)="back()">BACK</button>
</div>
