<div class="content-box">
  <header class="mb-2"><h2 class="card-title text-center">Reset Password</h2></header>
  <div class="form-group">
    <label>Enter username</label>
    <div class="leftContainer">
      <input type="text" class="form-control" [(ngModel)]="user.userName"
             [ngModelOptions]="{standalone: true}" appCredentials>
    </div>
  </div>
  <div class="form-group">
    <label>What is your favorite vegetable?</label>
    <div class="leftContainer">
      <input type="text" class="form-control" [(ngModel)]="user.securityAns"
             [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Create New password</label>
      <input class="form-control" type="password" [(ngModel)]="user.password"
             [ngModelOptions]="{standalone: true}"
             required="required">
    </div>
    <div class="form-group col-md-6">
      <label>Re-enter New password</label>
      <input class="form-control" type="password" required="required" [(ngModel)]="password"
             [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block" (click)="changePassword()">Change Password</button>
    <button type="submit" class="btn btn-secondary btn-block" routerLink="/login">Go Back To Login</button>
  </div>
</div>
